* {
    margin: 0;
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    height: 500px;
    position: relative;
}
.box-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    margin: 0;
}